.countries {
  /* background: linear-gradient(to right, red, yellow); */
  background: #5fc4a2;
}

.country-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.loading-error .loading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.loading-error p {
  text-align: center;
}

.filter-value {
  margin-bottom: 1rem;
}

.filter-value p {
  color: #fff;
  font-weight: 500;
}
