.sidebar {
  height: 95vh;
  width: 300px;
  background: lightcoral;
  padding-block: 1rem;
  margin-left: -300px;
  overflow-y: auto;
  transition: 0.3s;
}

.sidebar.active {
  margin-left: 0;
}

.sidebar p {
  font-size: 1.25rem;
  color: #fff;
  padding-left: 1rem;
}

.alphabet-list {
  list-style: none;
}

.alphabet-list li {
  border-bottom: 1px solid #fff;
  padding: 1rem;
}

.alphabet-list li button {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 500;
  color: #fff;
}
